USE [JobDB]
GO
/****** Object:  Table [dbo].[APPLICATIONS]    Script Date: 03/04/2026 9:11:23 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPLICATIONS](
	[job_id] [int] NOT NULL,
	[seeker_id] [int] NOT NULL,
	[applied_date] [datetime] NULL,
	[status] [varchar](50) NULL,
	[application_id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[application_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYERS]    Script Date: 03/04/2026 9:11:23 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYERS](
	[employer_id] [int] NOT NULL,
	[company_name] [varchar](255) NOT NULL,
	[industry] [varchar](100) NULL,
	[company_description] [varchar](max) NULL,
	[website] [varchar](255) NULL,
	[location] [varchar](255) NULL,
	[companyLogo] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[employer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOB_SEEKER_PROFILE]    Script Date: 03/04/2026 9:11:23 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOB_SEEKER_PROFILE](
	[seeker_id] [int] NOT NULL,
	[dob] [datetime] NULL,
	[gender] [varchar](10) NULL,
	[phone] [varchar](20) NULL,
	[address] [varchar](555) NULL,
	[experience_level] [varchar](50) NULL,
	[education] [varchar](500) NULL,
	[resume_file] [varchar](255) NULL,
	[Bio] [varchar](400) NULL,
	[ProfilePicturePath] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[seeker_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOB_SKILLS]    Script Date: 03/04/2026 9:11:23 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOB_SKILLS](
	[job_skill_id] [int] IDENTITY(1,1) NOT NULL,
	[job_id] [int] NOT NULL,
	[skillID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[job_skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOBS]    Script Date: 03/04/2026 9:11:23 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOBS](
	[employer_id] [int] NOT NULL,
	[job_title] [varchar](255) NOT NULL,
	[job_description] [varchar](max) NULL,
	[requirements] [varchar](1000) NULL,
	[location] [varchar](255) NULL,
	[salary_range] [varchar](100) NULL,
	[job_type] [varchar](50) NULL,
	[posted_date] [datetime] NULL,
	[expiry_date] [datetime] NULL,
	[status] [varchar](20) NULL,
	[job_id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_JOBS] PRIMARY KEY CLUSTERED 
(
	[job_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTIFICATIONS]    Script Date: 03/04/2026 9:11:23 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTIFICATIONS](
	[user_id] [int] NOT NULL,
	[message] [varchar](1000) NOT NULL,
	[created_at] [datetime] NULL,
	[read_status] [varchar](10) NULL,
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_NOTIFICATIONS] PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAVED_JOBS]    Script Date: 03/04/2026 9:11:23 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAVED_JOBS](
	[seeker_id] [int] NOT NULL,
	[job_id] [int] NOT NULL,
	[saved_at] [datetime] NULL,
	[Status] [int] NULL,
	[AppliedDate] [datetime] NULL,
	[Notes] [nvarchar](max) NULL,
	[ReminderDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[seeker_id] ASC,
	[job_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skills]    Script Date: 03/04/2026 9:11:23 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skills](
	[skillName] [varchar](250) NOT NULL,
	[SkillID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Skills] PRIMARY KEY CLUSTERED 
(
	[SkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_SKILLS]    Script Date: 03/04/2026 9:11:23 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_SKILLS](
	[JobSeekerSkillID] [int] IDENTITY(1,1) NOT NULL,
	[seeker_id] [int] NULL,
	[SkillID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[JobSeekerSkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 03/04/2026 9:11:23 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[full_name] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[role] [varchar](20) NOT NULL,
	[created_at] [datetime] NULL,
	[username] [varchar](100) NOT NULL,
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[ProfilePicture] [nvarchar](max) NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[APPLICATIONS] ON 

INSERT [dbo].[APPLICATIONS] ([job_id], [seeker_id], [applied_date], [status], [application_id]) VALUES (1, 16, CAST(N'2025-11-20T04:59:33.230' AS DateTime), N'PENDING', 1)
INSERT [dbo].[APPLICATIONS] ([job_id], [seeker_id], [applied_date], [status], [application_id]) VALUES (8, 20, CAST(N'2026-04-02T09:02:40.083' AS DateTime), N'PENDING', 1006)
INSERT [dbo].[APPLICATIONS] ([job_id], [seeker_id], [applied_date], [status], [application_id]) VALUES (7, 20, CAST(N'2026-04-02T09:45:31.327' AS DateTime), N'PENDING', 1007)
SET IDENTITY_INSERT [dbo].[APPLICATIONS] OFF
GO
INSERT [dbo].[EMPLOYERS] ([employer_id], [company_name], [industry], [company_description], [website], [location], [companyLogo]) VALUES (17, N'TechZone Pvt Ltd', N'IT', N'AI-based software solutions', N'https://techzone.com', N'Karachi', NULL)
INSERT [dbo].[EMPLOYERS] ([employer_id], [company_name], [industry], [company_description], [website], [location], [companyLogo]) VALUES (18, N'FutureSoft Solutions', N'Software', N'ERP and enterprise software edit profile', N'https://futuresoft.com', N'Lahore', N'/Images/CompanyLogos/digital-data-house-technology-logo-design-vector_638994095868476165.jpg')
INSERT [dbo].[EMPLOYERS] ([employer_id], [company_name], [industry], [company_description], [website], [location], [companyLogo]) VALUES (19, N'Mehwish Enterprises', N'IT', N'A company description here', N'https://mehwish.com', N'Karachi', NULL)
GO
INSERT [dbo].[JOB_SEEKER_PROFILE] ([seeker_id], [dob], [gender], [phone], [address], [experience_level], [education], [resume_file], [Bio], [ProfilePicturePath]) VALUES (16, NULL, NULL, NULL, NULL, NULL, NULL, N'/Resumes/WIN_20250418_19_13_29_Pro.jpg', N'hi', NULL)
INSERT [dbo].[JOB_SEEKER_PROFILE] ([seeker_id], [dob], [gender], [phone], [address], [experience_level], [education], [resume_file], [Bio], [ProfilePicturePath]) VALUES (22, NULL, N'', N'', N'', N'', N'', N'', N'', NULL)
GO
SET IDENTITY_INSERT [dbo].[JOB_SKILLS] ON 

INSERT [dbo].[JOB_SKILLS] ([job_skill_id], [job_id], [skillID]) VALUES (1, 6, 16)
INSERT [dbo].[JOB_SKILLS] ([job_skill_id], [job_id], [skillID]) VALUES (2, 7, 19)
INSERT [dbo].[JOB_SKILLS] ([job_skill_id], [job_id], [skillID]) VALUES (3, 8, 22)
SET IDENTITY_INSERT [dbo].[JOB_SKILLS] OFF
GO
SET IDENTITY_INSERT [dbo].[JOBS] ON 

INSERT [dbo].[JOBS] ([employer_id], [job_title], [job_description], [requirements], [location], [salary_range], [job_type], [posted_date], [expiry_date], [status], [job_id]) VALUES (17, N'Test Job Postinh', N'hii this is test job im posting', NULL, N'akrachi', N'1000000', NULL, CAST(N'2025-11-14T18:59:11.827' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[JOBS] ([employer_id], [job_title], [job_description], [requirements], [location], [salary_range], [job_type], [posted_date], [expiry_date], [status], [job_id]) VALUES (18, N'Software Engineer', N'Develop and maintain web applications using ASP.NET MVC', N'BSc CS, 2+ years exp, SQL, JavaScript', N'Karachi', N'PKR 80,000-120,000', N'Full-Time', CAST(N'2025-11-22T11:54:34.213' AS DateTime), CAST(N'2025-12-05T00:00:00.000' AS DateTime), N'ACTIVE', 3)
INSERT [dbo].[JOBS] ([employer_id], [job_title], [job_description], [requirements], [location], [salary_range], [job_type], [posted_date], [expiry_date], [status], [job_id]) VALUES (18, N'Data Analyst', N'Analyze data and create dashboards for insights', N'BSc Stats/CS, SQL, Excel, Power BI, 2+ years exp', N' Islamabad', N'PKR 70,000-100,000', N'Full-Time', CAST(N'2025-11-22T11:57:26.620' AS DateTime), CAST(N'2025-12-06T00:00:00.000' AS DateTime), N'ACTIVE', 5)
SET IDENTITY_INSERT [dbo].[JOBS] OFF
GO
SET IDENTITY_INSERT [dbo].[NOTIFICATIONS] ON 

INSERT [dbo].[NOTIFICATIONS] ([user_id], [message], [created_at], [read_status], [notification_id]) VALUES (16, N'Your application for the job ''Edit Job'' has been approved!', CAST(N'2025-11-20T18:58:21.327' AS DateTime), N'READ', 1)
INSERT [dbo].[NOTIFICATIONS] ([user_id], [message], [created_at], [read_status], [notification_id]) VALUES (20, N'Your application for the job ''Data Analyst'' has been approved!', CAST(N'2025-11-22T14:39:57.223' AS DateTime), N'READ', 2)
INSERT [dbo].[NOTIFICATIONS] ([user_id], [message], [created_at], [read_status], [notification_id]) VALUES (20, N'Your application for the job ''Software Engineer'' has been approved!', CAST(N'2025-11-25T09:05:55.793' AS DateTime), N'READ', 3)
SET IDENTITY_INSERT [dbo].[NOTIFICATIONS] OFF
GO
INSERT [dbo].[SAVED_JOBS] ([seeker_id], [job_id], [saved_at], [Status], [AppliedDate], [Notes], [ReminderDate]) VALUES (16, 1, CAST(N'2025-11-20T20:22:09.663' AS DateTime), NULL, NULL, N'hi there', NULL)
INSERT [dbo].[SAVED_JOBS] ([seeker_id], [job_id], [saved_at], [Status], [AppliedDate], [Notes], [ReminderDate]) VALUES (20, 1, CAST(N'2026-04-02T10:26:30.250' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[SAVED_JOBS] ([seeker_id], [job_id], [saved_at], [Status], [AppliedDate], [Notes], [ReminderDate]) VALUES (20, 7, CAST(N'2026-04-02T09:47:15.313' AS DateTime), NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Skills] ON 

INSERT [dbo].[Skills] ([skillName], [SkillID]) VALUES (N'JavaScript', 2)
INSERT [dbo].[Skills] ([skillName], [SkillID]) VALUES (N'React', 3)
INSERT [dbo].[Skills] ([skillName], [SkillID]) VALUES (N'C#', 4)
SET IDENTITY_INSERT [dbo].[Skills] OFF
GO
SET IDENTITY_INSERT [dbo].[USER_SKILLS] ON 

INSERT [dbo].[USER_SKILLS] ([JobSeekerSkillID], [seeker_id], [SkillID]) VALUES (18, 20, 22)
SET IDENTITY_INSERT [dbo].[USER_SKILLS] OFF
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([full_name], [email], [password_hash], [role], [created_at], [username], [UserId], [ProfilePicture]) VALUES (N'Ali Khan', N'ali@example.com', N'pass123', N'JobSeeker', CAST(N'2025-11-14T18:09:38.853' AS DateTime), N'alikhan', 15, NULL)
INSERT [dbo].[USERS] ([full_name], [email], [password_hash], [role], [created_at], [username], [UserId], [ProfilePicture]) VALUES (N'Sara Ahmed', N'sara@example.com', N'pass123', N'JobSeeker', CAST(N'2025-11-14T18:09:38.853' AS DateTime), N'saraahmed', 16, NULL)
INSERT [dbo].[USERS] ([full_name], [email], [password_hash], [role], [created_at], [username], [UserId], [ProfilePicture]) VALUES (N'Hassan Raza', N'hassan@example.com', N'pass123', N'JobSeeker', CAST(N'2025-11-14T18:09:38.853' AS DateTime), N'hassanraza', 17, NULL)
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USERS__AB6E6164CE069771]    Script Date: 03/04/2026 9:11:23 am ******/
ALTER TABLE [dbo].[USERS] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USERS__F3DBC5726FC08D97]    Script Date: 03/04/2026 9:11:23 am ******/
ALTER TABLE [dbo].[USERS] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[APPLICATIONS] ADD  DEFAULT (getdate()) FOR [applied_date]
GO
ALTER TABLE [dbo].[APPLICATIONS] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[JOBS] ADD  DEFAULT (getdate()) FOR [posted_date]
GO
ALTER TABLE [dbo].[JOBS] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[NOTIFICATIONS] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[NOTIFICATIONS] ADD  DEFAULT ('UNREAD') FOR [read_status]
GO
ALTER TABLE [dbo].[SAVED_JOBS] ADD  DEFAULT (getdate()) FOR [saved_at]
GO
ALTER TABLE [dbo].[SAVED_JOBS] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[APPLICATIONS]  WITH CHECK ADD FOREIGN KEY([seeker_id])
REFERENCES [dbo].[JOB_SEEKER_PROFILE] ([seeker_id])
GO
ALTER TABLE [dbo].[APPLICATIONS]  WITH CHECK ADD  CONSTRAINT [FK_Application_Job] FOREIGN KEY([job_id])
REFERENCES [dbo].[JOBS] ([job_id])
GO
ALTER TABLE [dbo].[APPLICATIONS] CHECK CONSTRAINT [FK_Application_Job]
GO
ALTER TABLE [dbo].[EMPLOYERS]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYERS_USERS] FOREIGN KEY([employer_id])
REFERENCES [dbo].[USERS] ([UserId])
GO
ALTER TABLE [dbo].[EMPLOYERS] CHECK CONSTRAINT [FK_EMPLOYERS_USERS]
GO
ALTER TABLE [dbo].[JOB_SEEKER_PROFILE]  WITH CHECK ADD  CONSTRAINT [FK_JOB_SEEKER_PROFILE_USERS] FOREIGN KEY([seeker_id])
REFERENCES [dbo].[USERS] ([UserId])
GO
ALTER TABLE [dbo].[JOB_SEEKER_PROFILE] CHECK CONSTRAINT [FK_JOB_SEEKER_PROFILE_USERS]
GO
ALTER TABLE [dbo].[JOB_SKILLS]  WITH CHECK ADD FOREIGN KEY([job_id])
REFERENCES [dbo].[JOBS] ([job_id])
GO
ALTER TABLE [dbo].[JOB_SKILLS]  WITH CHECK ADD FOREIGN KEY([skillID])
REFERENCES [dbo].[Skills] ([SkillID])
GO
ALTER TABLE [dbo].[JOBS]  WITH CHECK ADD FOREIGN KEY([employer_id])
REFERENCES [dbo].[EMPLOYERS] ([employer_id])
GO
ALTER TABLE [dbo].[NOTIFICATIONS]  WITH CHECK ADD  CONSTRAINT [FK_NOTIFICATIONS_USERS] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([UserId])
GO
ALTER TABLE [dbo].[NOTIFICATIONS] CHECK CONSTRAINT [FK_NOTIFICATIONS_USERS]
GO
ALTER TABLE [dbo].[SAVED_JOBS]  WITH CHECK ADD FOREIGN KEY([seeker_id])
REFERENCES [dbo].[JOB_SEEKER_PROFILE] ([seeker_id])
GO
ALTER TABLE [dbo].[SAVED_JOBS]  WITH CHECK ADD  CONSTRAINT [FK_SavedJobs_Job] FOREIGN KEY([job_id])
REFERENCES [dbo].[JOBS] ([job_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SAVED_JOBS] CHECK CONSTRAINT [FK_SavedJobs_Job]
GO
ALTER TABLE [dbo].[USER_SKILLS]  WITH CHECK ADD FOREIGN KEY([seeker_id])
REFERENCES [dbo].[JOB_SEEKER_PROFILE] ([seeker_id])
GO
ALTER TABLE [dbo].[USER_SKILLS]  WITH CHECK ADD  CONSTRAINT [FK_USER_SKILLS_Skills] FOREIGN KEY([SkillID])
REFERENCES [dbo].[Skills] ([SkillID])
GO
ALTER TABLE [dbo].[USER_SKILLS] CHECK CONSTRAINT [FK_USER_SKILLS_Skills]
GO
